/* -------------------------------------------------------------------------

	STYLES FOR COLDCOFFEE DEMO INDEX

------------------------------------------------------------------------- */

body{
	background-color:#f0f0f0;
}

.header{
	padding:0 20px;
	margin:0 0 5px;
	background-color:#fff;
	background-image:-webkit-linear-gradient(top, #fff, #f8f8f8);
	box-shadow:rgba(0,0,0,0.4) 0px 0px 5px;
	overflow: hidden;
}
.logo{
	margin:15px 15px 0;
	color:#333;
	font-weight: 500;
}
	.heavy{
		font-weight: 700;
		color:#73422F;
	}
	.light{
		font-weight:100;
		color:#D0D0D0;
	}


.main-nav{
}
	.main-nav li a{
		display: block;
		padding:25px 30px;
		text-shadow:#000 0px -1px 0px;
		background:#333;
	}
		.main-nav li a:hover{
			color:#fff	;
			background:#000;
		}

.container{
	border:#CCC 1px solid;
}

.sidebar{
	max-width: 450px;
	float:right;
	padding:30px;
	background-color:#fff;
	border:#CCC 1px solid;
	border-radius:5px;
}

.temp-loc{
	padding:10px;
	display: inline-block;
	background:#fff;
	border:#CCC 1px solid;
	border-radius:5px;
}

.footer{
	padding:10px;
	background:#fff;
	border:#CCC 1px solid;
}